.ipynb_checkpoints
main/meta-llama
model-output
.idea
__pycache__
__MACOSX

# Dataset - can be downloaded
data
github-python-test
prutor-deepfix-09-12-2017
prutor-deepfix-09-12-2017.zip

# Models - can be downloaded
models

# Working directory
working
